#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# Tell dh-golang where this package lives upstream
export DH_GOPKG := github.com/dotcloud/docker

# Create static binary
export CGO_ENABLED := 0

override_dh_auto_build:
	dh_auto_build -- -ldflags '-w'

override_dh_auto_install:
	dh_auto_install
	# To not clash with other binaries, use the more specific “lxc-docker”
	# name for the binary.
	mv debian/lxc-docker/usr/bin/docker debian/lxc-docker/usr/bin/lxc-docker
	# Remove unnecesary testing  binary
	rm debian/lxc-docker/usr/bin/contrib
	# The source of docker does not make a library, so don’t ship it.
	rm -rf debian/lxc-docker/usr/share/gocode

override_dh_auto_test: 

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

%:
	dh $@ --buildsystem=golang --with=golang --with=systemd
